@media screen and (max-width: 600px){
    .nav-ul{
        width: 100%;
        flex-direction: column;
        align-items: center;
        display: none;
        margin-top: 1rem;
    }
    .nav-ul li{
        width: 100%;
        text-align: center;
        border-top: 2px solid white;
    }
    .nav-ul :last-child{
        border-bottom:2px solid white;
    }
    .nav-link::before,
    .current::before{
        display: none;
    }
    .hamburger{
        display: block;
    }
    .nav-ul .close{
        display: block;
        
    }
    .search{
        display: none;
    }
    .show{
        display: block;
    }
    .hide{
        display: none;
    }
}